In [1]:
import pandas as pd
import os
import glob
import pandas as pd

In [2]:
traffic_df = pd.read_csv("Traffic/combined_csv.csv" )
traffic_df.head(20)

,NB_SCATS_SITE,QT_INTERVAL_COUNT,NB_DETECTOR,V00,V01,V02,V03,V04,V05,V06,...,V90,V91,V92,V93,V94,V95,NM_REGION,CT_RECORDS,QT_VOLUME_24HOUR,CT_ALARM_24HOUR
0,105,01/07/2016 0:00,1,6.0,2.0,2.0,4.0,5.0,2.0,2.0,...,27.0,26.0,22.0,24.0,24.0,17.0,BBN,96,7314,0
1,105,01/07/2016 0:00,2,19.0,15.0,15.0,6.0,6.0,12.0,10.0,...,44.0,41.0,42.0,46.0,40.0,43.0,BBN,96,8848,0
2,105,01/07/2016 0:00,3,15.0,16.0,9.0,4.0,13.0,9.0,5.0,...,45.0,52.0,43.0,48.0,44.0,45.0,BBN,96,10405,0
3,105,01/07/2016 0:00,4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,4.0,0.0,2.0,1.0,1.0,1.0,BBN,96,889,0
4,105,01/07/2016 0:00,5,24.0,9.0,5.0,9.0,5.0,6.0,6.0,...,52.0,52.0,41.0,47.0,40.0,37.0,BBN,96,9374,0
5,105,01/07/2016 0:00,6,26.0,17.0,15.0,22.0,12.0,14.0,8.0,...,49.0,69.0,56.0,38.0,49.0,53.0,BBN,96,9197,0
6,105,01/07/2016 0:00,7,20.0,7.0,6.0,10.0,4.0,7.0,2.0,...,45.0,36.0,31.0,30.0,31.0,31.0,BBN,96,7542,0
7,105,01/07/2016 0:00,8,2.0,1.0,1.0,0.0,0.0,0.0,1.0,...,5.0,4.0,4.0,6.0,3.0,2.0,BBN,96,761,0
8,105,01/07/2016 0:00,9,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,BBN,96,264,0
9,105,01/07/2016 0:00,10,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,7.0,4.0,3.0,2.0,1.0,2.0,BBN,96,945,0
10,105,01/07/2016 0:00,11,1.0,1.0,0.0,0.0,1.0,1.0,0.0,...,0.0,3.0,3.0,1.0,1.0,1.0,BBN,96,766,0
11,105,01/07/2016 0:00,12,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
12,105,01/07/2016 0:00,13,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
13,105,01/07/2016 0:00,14,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
14,105,01/07/2016 0:00,15,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
15,105,01/07/2016 0:00,16,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
16,105,01/07/2016 0:00,17,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
17,105,01/07/2016 0:00,18,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
18,105,01/07/2016 0:00,19,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0
19,105,01/07/2016 0:00,20,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,BBN,96,0,0

In [3]:
#convert negative numbers which are assumed to be error codes to zero in AM Peak Fields
traffic_df['V23'][traffic_df['V23'] < 0] = 0
traffic_df['V24'][traffic_df['V24'] < 0] = 0
traffic_df['V25'][traffic_df['V25'] < 0] = 0
traffic_df['V26'][traffic_df['V26'] < 0] = 0
traffic_df['V27'][traffic_df['V27'] < 0] = 0
traffic_df['V28'][traffic_df['V28'] < 0] = 0
traffic_df['V29'][traffic_df['V29'] < 0] = 0
traffic_df['V30'][traffic_df['V30'] < 0] = 0
traffic_df['V31'][traffic_df['V31'] < 0] = 0

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [4]:
#combines the values of the AM Peak time of 6:00am to 8:00am
traffic_df["AM_Peak"] = (traffic_df["V23"] + traffic_df["V24"]  + traffic_df["V25"]  + traffic_df["V26"]  + traffic_df["V27"] 
                        + traffic_df["V28"] + traffic_df["V29"]  + traffic_df["V30"]  + traffic_df["V31"] )

In [5]:
#convert negative numbers which are assumed to be error codes to zero in PM Peak Fields
traffic_df['V63'][traffic_df['V63'] < 0] = 0
traffic_df['V64'][traffic_df['V64'] < 0] = 0
traffic_df['V65'][traffic_df['V65'] < 0] = 0
traffic_df['V66'][traffic_df['V66'] < 0] = 0
traffic_df['V67'][traffic_df['V67'] < 0] = 0
traffic_df['V68'][traffic_df['V68'] < 0] = 0
traffic_df['V69'][traffic_df['V69'] < 0] = 0
traffic_df['V70'][traffic_df['V70'] < 0] = 0
traffic_df['V71'][traffic_df['V71'] < 0] = 0

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [6]:
#combines the values of the PM Peak time of 4:00pm to 6:00pm
traffic_df["PM_Peak"] = (traffic_df["V63"] + traffic_df["V64"]  + traffic_df["V65"]  + traffic_df["V66"]  + traffic_df["V67"] 
                        + traffic_df["V68"] + traffic_df["V69"]  + traffic_df["V70"]  + traffic_df["V71"] )

In [7]:
#select only the columns we want
traffic_df_clean = traffic_df[["NB_SCATS_SITE", "QT_INTERVAL_COUNT", "NB_DETECTOR", "NM_REGION", "CT_RECORDS", "QT_VOLUME_24HOUR", "CT_ALARM_24HOUR", "AM_Peak", "PM_Peak"]]

In [8]:
traffic_df_clean.head()

,NB_SCATS_SITE,QT_INTERVAL_COUNT,NB_DETECTOR,NM_REGION,CT_RECORDS,QT_VOLUME_24HOUR,CT_ALARM_24HOUR,AM_Peak,PM_Peak
0,105,01/07/2016 0:00,1,BBN,96,7314,0,1098.0,1118.0
1,105,01/07/2016 0:00,2,BBN,96,8848,0,1251.0,1306.0
2,105,01/07/2016 0:00,3,BBN,96,10405,0,1434.0,1714.0
3,105,01/07/2016 0:00,4,BBN,96,889,0,93.0,174.0
4,105,01/07/2016 0:00,5,BBN,96,9374,0,504.0,1909.0

In [9]:
#removes 0:00 from the date
traffic_df_clean['QT_INTERVAL_COUNT'] = traffic_df_clean['QT_INTERVAL_COUNT'].str.replace(' 0:00', '')

C:\Users\maco_\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [10]:
#rename column to Date for later use when merging
traffic_df_clean = traffic_df_clean.rename(columns={"QT_INTERVAL_COUNT" : "Date"})

In [11]:
#group by the region, date and scat site
traffic_df_clean_2 = traffic_df_clean.groupby(["NM_REGION", "Date"]).agg({"QT_VOLUME_24HOUR" : ["sum"], "AM_Peak" : ["sum"], "PM_Peak" : ["sum"]})

In [12]:
traffic_df_clean_2.head()

                     QT_VOLUME_24HOUR   AM_Peak   PM_Peak
                                  sum       sum       sum
NM_REGION Date
BBN       01/07/2016          5340051  525987.0  938286.0
          02/07/2016          4552161  218166.0  757100.0
          03/07/2016          3952714  130511.0  709845.0
          04/07/2016          5138450  584527.0  917844.0
          05/07/2016          5148262  556123.0  902028.0

In [13]:
#rename columns
traffic_df_clean_2.columns = ['QT_VOLUME_24HOUR', 'AM_PEAK_VOLUME', 'PM_PEAK_VOLUME']
#reset the index
traffic_df_clean_2 = traffic_df_clean_2.reset_index()

In [14]:
#import weather csv as dataframe
weather_df = pd.read_csv('weatherAUS.csv/weatherAUSJuly2016.csv')

In [15]:
weather_df.head(20)

,Date,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,01/07/2016,Albury,5.2,11.4,11.4,NaN,NaN,NW,26,WSW,...,96,76,1019,1021.4,8,8,7.3,11.1,Yes,No
1,02/07/2016,Albury,7.2,12.5,0.4,NaN,NaN,WSW,17,NaN,...,88,86,1027.7,1026.4,8,8,9.3,11.6,No,No
2,03/07/2016,Albury,7.9,12.7,0.2,NaN,NaN,W,20,ENE,...,100,82,1027.5,1024.7,8,7,9.7,12.6,No,No
3,04/07/2016,Albury,8.2,11.7,0.2,NaN,NaN,E,19,NaN,...,97,70,1021.1,1016,8,8,9,11.6,No,No
4,05/07/2016,Albury,6.7,10.6,1,NaN,NaN,WNW,19,NaN,...,92,99,1011.2,1008.6,8,8,7.8,8.9,No,Yes
5,06/07/2016,Albury,7.2,15.4,7.6,NaN,NaN,WSW,43,W,...,80,60,1010.3,1010.4,NaN,2,10.6,15,Yes,No
6,07/07/2016,Albury,4,16.5,0,NaN,NaN,SE,30,NaN,...,100,58,1020.7,1019.1,NaN,5,8.3,16.2,No,No
7,08/07/2016,Albury,6.5,11.8,0.2,NaN,NaN,S,17,S,...,96,94,1022.7,1020.8,8,8,9.2,11.5,No,Yes
8,09/07/2016,Albury,7,15.8,2,NaN,NaN,NE,13,NaN,...,100,76,1025.5,1023.1,8,8,9,13.9,Yes,No
9,10/07/2016,Albury,6.2,14,0,NaN,NaN,NE,28,NaN,...,100,74,1023.8,1018.9,3,6,9.1,13.4,No,Yes
10,11/07/2016,Albury,9.1,16.2,16.6,NaN,NaN,N,44,N,...,82,52,1009.3,1007.9,8,1,12.8,15.7,Yes,No
11,12/07/2016,Albury,8.6,12.9,0.4,NaN,NaN,NW,69,N,...,79,61,1007.3,1004.2,8,NaN,9.3,12,No,Yes
12,13/07/2016,Albury,3.6,9.5,9.6,NaN,NaN,WNW,54,WNW,...,87,66,1019.3,1023.1,8,8,4.3,8.9,Yes,No
13,14/07/2016,Albury,-0.3,10.8,0.2,NaN,NaN,W,26,NaN,...,99,72,1032.6,1030.1,8,6,4.4,9.6,No,No
14,15/07/2016,Albury,4.4,12.8,0,NaN,NaN,W,20,NE,...,90,66,1032.9,1030.6,6,7,8.4,12.2,No,No
15,16/07/2016,Albury,-0.4,14,0.2,NaN,NaN,E,17,NaN,...,100,65,1033.9,1030.2,NaN,NaN,4.5,13.1,No,No
16,17/07/2016,Albury,0.4,16.5,0,NaN,NaN,ENE,17,N,...,94,64,1031.6,1027.5,NaN,NaN,6.1,15.1,No,No
17,18/07/2016,Albury,2.1,13.4,0,NaN,NaN,E,13,NaN,...,100,96,1026.2,1022.6,NaN,8,7.3,11.8,No,Yes
18,19/07/2016,Albury,7.3,15.2,5,NaN,NaN,NNW,17,S,...,100,88,1023.3,1021.8,8,8,10.9,14,Yes,No
19,20/07/2016,Albury,8.5,17.3,0,NaN,NaN,ESE,13,NNE,...,100,70,1020.9,1019.5,7,1,10.7,16.7,No,No

In [16]:
#filter to only include Melbourne
weather_df_melb = weather_df[weather_df['Location']=="Melbourne"]

In [17]:
#select only the columns we want
weather_df_melb_clean = weather_df_melb[["Date", "Location", "MaxTemp", "Rainfall", "WindGustSpeed", "Humidity9am", "Humidity3pm"]]

In [18]:
weather_df_melb_clean.head()

,Date,Location,MaxTemp,Rainfall,WindGustSpeed,Humidity9am,Humidity3pm
682,01/07/2016,Melbourne,14.1,6.4,28,89,61
683,02/07/2016,Melbourne,16.5,0.2,28,77,58
684,03/07/2016,Melbourne,16.7,0,41,76,57
685,04/07/2016,Melbourne,12.7,0,31,69,64
686,05/07/2016,Melbourne,12.8,0.6,28,87,91

In [19]:
#merge weather and traffic dataframes on date
traffic_df_clean_3 = pd.merge(traffic_df_clean_2, weather_df_melb_clean, on = "Date", how = "inner")

In [20]:
traffic_df_clean_3

,NM_REGION,Date,QT_VOLUME_24HOUR,AM_PEAK_VOLUME,PM_PEAK_VOLUME,Location,MaxTemp,Rainfall,WindGustSpeed,Humidity9am,Humidity3pm
0,BBN,01/07/2016,5340051,525987.0,938286.0,Melbourne,14.1,6.4,28,89,61
1,BBN,01/07/2016,5340051,525987.0,938286.0,Melbourne,14.1,6.4,28,89,61
2,BEN,01/07/2016,1439435,97480.0,266493.0,Melbourne,14.1,6.4,28,89,61
3,BEN,01/07/2016,1439435,97480.0,266493.0,Melbourne,14.1,6.4,28,89,61
4,BRI,01/07/2016,2917372,278875.0,500749.0,Melbourne,14.1,6.4,28,89,61
...,...,...,...,...,...,...,...,...,...,...,...
2103,VIC,31/07/2016,2042397,56585.0,355080.0,Melbourne,17,2,52,86,39
2104,WV1,31/07/2016,3598661,106140.0,625922.0,Melbourne,17,2,52,86,39
2105,WV1,31/07/2016,3598661,106140.0,625922.0,Melbourne,17,2,52,86,39
2106,WV2,31/07/2016,3888761,124728.0,691307.0,Melbourne,17,2,52,86,39
2107,WV2,31/07/2016,3888761,124728.0,691307.0,Melbourne,17,2,52,86,39

In [21]:
#load in nm region data which includes the region name and lat and long
nm_region = pd.read_csv('Traffic_Other/NM_Region.csv', encoding= 'unicode_escape')

In [22]:
nm_region

   NM_REGION            Region      Lat      Long
0        BBN         Blackburn -37.8197  145.1531
1        BEN           Bendigo -36.7570  144.2794
2        BRI          Brighton -37.9043  144.9932
3        CA1           Carlton -37.8001  144.9671
4        CA2         Carlton 2 -37.8001  144.9671
5        CRN           Croydon -37.7944  145.2815
6        DIO    Dialin/Dialout      NaN       NaN
7        DON         Doncaster -37.7874  145.1249
8        DUP               NaN      NaN       NaN
9        ESS          Essendon -37.7505  144.9143
10       ES2        Essendon 2 -37.7505  144.9143
11       FR2       Frankston 2 -38.1466  145.1357
12       FRA         Frankston -38.1466  145.1357
13       FT1         Footscray -37.7989  144.8924
14       FT2       Footscray 2 -37.7989  144.8924
15       FT3       Footscray 3 -37.7989  144.8924
16       GE2          Geelong2 -38.1499  144.3617
17       GEE           Geelong -38.1499  144.3617
18       GLI         Glen Iris -37.8600  145.0593
19       GR2   Greensborough 2 -37.7044  145.1006
20       GRE     Greensborough -37.7044  145.1006
21       KEW               Kew -37.8074  145.0289
22       MC1  Melbourne City 1 -37.8136  144.9631
23       MC2  Melbourne City 2 -37.8136  144.9631
24       MC3  Melbourne City 3 -37.8136  144.9631
25       MEN           Mentone -37.9812  145.0648
26       MNP      Moonee Ponds -37.7665  144.9196
27       PR2         Preston 2 -37.7431  145.0081
28       PRS           Preston -37.7431  145.0081
29       SK1        St Kilda 1 -37.8640  144.9820
30       SK2        St Kilda 2 -37.8640  144.9820
31       SP2      Springvale 2 -37.9493  145.1528
32       SPR        Springvale -37.9493  145.1528
33       VI2        Victoria 2      NaN       NaN
34       VIC          Victoria      NaN       NaN
35       WV1         Waverly 1 -37.8744  145.1668
36       WV2         Waverly 2 -37.8744  145.1668

In [23]:
#merge nm region data onto combined traffic and weather dataframe
traffic_df_clean_4 = pd.merge(traffic_df_clean_3, nm_region, on = "NM_REGION", how = "inner")

In [24]:
#filter out non melbourne regions
traffic_df_clean_5 = traffic_df_clean_4[(traffic_df_clean_4["NM_REGION"] != "BEN") & 
                                       (traffic_df_clean_4["NM_REGION"] != "GEE") &
                                        (traffic_df_clean_4["NM_REGION"] != "GE2") &
                                       (traffic_df_clean_4["NM_REGION"] != "VI2") &
                                       (traffic_df_clean_4["NM_REGION"] != "VIC") &
                                       (traffic_df_clean_4["NM_REGION"] != "WV1") &
                                       (traffic_df_clean_4["NM_REGION"] != "WV2") &
                                       (traffic_df_clean_4["NM_REGION"] != "DUP") &
                                       (traffic_df_clean_4["NM_REGION"] != "DIO")]

In [25]:
traffic_df_clean_5.head()

,NM_REGION,Date,QT_VOLUME_24HOUR,AM_PEAK_VOLUME,PM_PEAK_VOLUME,Location,MaxTemp,Rainfall,WindGustSpeed,Humidity9am,Humidity3pm,Region,Lat,Long
0,BBN,01/07/2016,5340051,525987.0,938286.0,Melbourne,14.1,6.4,28,89,61,Blackburn,-37.8197,145.1531
1,BBN,01/07/2016,5340051,525987.0,938286.0,Melbourne,14.1,6.4,28,89,61,Blackburn,-37.8197,145.1531
2,BBN,02/07/2016,4552161,218166.0,757100.0,Melbourne,16.5,0.2,28,77,58,Blackburn,-37.8197,145.1531
3,BBN,02/07/2016,4552161,218166.0,757100.0,Melbourne,16.5,0.2,28,77,58,Blackburn,-37.8197,145.1531
4,BBN,03/07/2016,3952714,130511.0,709845.0,Melbourne,16.7,0,41,76,57,Blackburn,-37.8197,145.1531

In [26]:
#save newly combined dataframe to csv
traffic_df_clean_5.to_csv("CombinedDataTrafficWeatherV3.csv" )